<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/dashboard.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
<style>

  .highlight{
    background-color: #695cfe;
    border-radius: 6px;
  }
  .highlight a i,
  .highlight a span {
  color: white !important;
}
#filterForm{
  margin-left: 30px;
}
</style>

</head>
<body>

  <%- include('../includes/navigation.ejs') %>
  
    <section class="home">
      <div class="text">Dashboard</div>

      <form id="filterForm" action="/admin/dashboard" method="get">
        <select name="timeFrame" id="timeFrame">
          <option value="daily" <% if(timeFrame==="daily"){ %> selected <% } %>>Daily</option>
          <option value="weekly" <% if(timeFrame==="weekly"){ %> selected <% } %>>Weekly</option>
          <option value="monthly" <% if(timeFrame==="monthly"){ %> selected <% } %>>Monthly</option>
          <option value="yearly" <% if(timeFrame==="yearly"){ %> selected <% } %>>Yearly</option>
        </select>
        <button type="submit">Filter</button>
    </form>
      <div class="container">

        <div class="row m-2" style="width: 1000px;background-color: white;border-radius: 5px;">
          <canvas id="myChart"></canvas>
        </div>
        <div class="row">

          <div class="m-2" style="width: 500px;background-color: white;border-radius: 5px;">
            <canvas id="myChart2"></canvas>
          </div>
    
          <div class="m-2" style="width: 500px;background-color: white;border-radius: 5px;">
            <canvas id="myChart3"></canvas>
          </div>
        </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      

    </section>

    <script>
      const ctx = document.getElementById('myChart');
      const ctx2 = document.getElementById('myChart2');
      const ctx3 = document.getElementById('myChart3');

      /* TopSellingProducts Begin */
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [<% topSellingProducts.forEach((product, index) => { %>
            '<%= product.productName %>'<% if (index < topSellingProducts.length - 1) { %>, <% } %>
        <% }); %>],
          datasets: [{
            label: 'Top 10 Selling Products',
            data: [<% topSellingProducts.forEach((product, index) => { %>
                '<%= product.totalQuantitySold %>'<% if (index < topSellingProducts.length - 1) { %>, <% } %>
            <% }); %>],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)'
          ],
            borderColor: [
            'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)',
                'rgb(255, 159, 64)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      /* TopSellingProducts End */

      /* TopSellingCategories Begin */

      new Chart(ctx2, {
  type: 'doughnut', // Change from 'bar' to 'doughnut'
  data: {
    labels: [
      <% topSellingCategories.forEach((category, index) => { %>
        '<%= category.categoryName %>'<% if (index < topSellingCategories.length - 1) { %>, <% } %>
      <% }); %>
    ],
    datasets: [{
      label: 'Top 10 Selling Categories',
      data: [
        <% topSellingCategories.forEach((category, index) => { %>
          <%= category.totalQuantitySold %><% if (index < topSellingCategories.length - 1) { %>, <% } %>
        <% }); %>
      ],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)'
      ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)',
        'rgb(255, 159, 64)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)'
      ],
            hoverOffset: 4
          }]
        },
      });


      /* TopSellingCategories END */
      /* topSellingBrands Begin */

      new Chart(ctx3, {
        type: 'pie',
        data: {
          labels: [
            <% topSellingBrands.forEach((brand, index) => { %>
              '<%= brand.brandName %>'<% if (index < topSellingBrands.length - 1) { %>, <% } %>
            <% }); %>
          ],
          datasets: [{
            label: 'Top 10 Selling Brands',
            data: [
              <% topSellingBrands.forEach((brand, index) => { %>
                <%= brand.totalQuantitySold %><% if (index < topSellingBrands.length - 1) { %>, <% } %>
              <% }); %>
            ],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)',
              'rgb(255, 159, 64)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)'
            ],
            hoverOffset: 4
          }]
        },
      });


      /* topSellingBrands END */

    </script>

    <!-- Left Navbar Script Begin -->
    <script>
      const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      })
      searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
      })
      modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
          modeText.innerText = "Light mode";
        } else {
          modeText.innerText = "Dark mode";
        }
      });
    </script>
    <!-- Left Navbar Script END -->

    
    
</body>
</html>