<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  
    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Stylesheet -->

    <link rel="stylesheet" href="/css/user/userprofile.css">

    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
          .mainheading{
        background-image: url('/images/user/profile-background.jpg');
        background-size: cover;
        background-position: center;
        margin-bottom: 2rem;
      }
      .padding{
        height: 1rem;
      }
      .bx.bx-chevron-right.toggle {
      display: none;
      }
      @media screen and (max-width: 600px) {
        .bx.bx-chevron-right.toggle {
        display: block;
        }
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232329;
      }
    </style>
    
</head>
<body>
  <body>

    <header class="header">

        <div class="navbar">
          <a href="/">Home</a>
          <a href="/product-list/list">Products</a>
        </div>
        <div class="search-bar-container">
          <form action="/product-list/search" method="get" class="search-bar">
            <input type="text" placeholder="Search..." name="search" id="search">
            <button type="submit"><box-icon name='search'><i class='bx bx-search'></i></button>
          </form>
        <div class="right_navbar">
            <a href="/user/wishlist"><i class='bx bx-heart'></i></a>
            <a href="/user/cart"><i class='bx bx-cart'></i></a>
            <a href="/user/profile"><i class='bx bx-user'></i></a>
            <form action="/user/logout" method="post"><button type="submit" class="login_navbar">Logout</button></form>
        </div>
        </div>
        
    </header>



  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="logo.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Alchemy</span>
          <span class="profession"><%= userName %></span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link">
            <a href="/user/profile">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Profile</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/address">
              <i class='bx bx-map icon'></i>
              <span class="text nav-text">Manage Address</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/wishlist">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">My Wishlist</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/order" style="background-color: #183D3D;">
              <i class='bx bx-shopping-bag icon'></i>
              <span class="text nav-text">My orders</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/wallet">
              <i class='bx bx-wallet icon'></i>
              <span class="text nav-text">Wallet</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/coupon">
              <i class='bx bxs-coupon icon'></i>
              <span class="text nav-text">Coupon</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/user/chat">
              <i class='bx bxs-chat icon'></i>
              <span class="text nav-text">Chat</span>
            </a>
          </li>
          
        </ul>
      </div>
      
      </div>
    </div>

  </nav>

  <section class="home">
    <div class="container mainheading" >
      <div class="padding"></div>
      <div class="d-flex justify-content-center py-5 pb-0"><a href="/">Home</a>/Orders</div>
      <div class="text d-flex justify-content-center pb-5"> <h2 style="color: rgb(0, 0, 0);">Manage Orders</h2></div>
    </div>

    <div class="container">
      <% if(orders.length==0) {%>
        <h2 style="text-align: center; color: white;">No Orders</h2>
      <% }else{ %>
      <div class="table-responsive">
          <table class="table table-dark">
              <thead>
                  <tr>
                      <th>Order ID</th>
                      <th>Image</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <% orders.forEach((order) => { %>
                      <tr>
                          <td rowspan="<%= order.items.length %>"><%= order.orderId %></td>
                          <% order.items.forEach((item, index) => { %>
                              <% if (index > 0) { %>
                                  </tr><tr>
                              <% } %>
                              <td><img src="<%= item.productImage[0] %>" alt="productimage" style="width: 6rem; height: 6rem;"></td>
                              <td><%= item.productName %></td>
                              <% if(order.coupon.discount){ %>
                              <td>$<%= ((item.discountPrice*item.quantity)*(1-order.coupon.discount/100)).toFixed(2) %></td>
                              <% }else{%>
                                <td>$<%= (item.discountPrice*item.quantity).toFixed(2) %></td>
                                <% } %>
                              <td><%= item.status %></td>
                              <% if (index === 0) { %>
                                <td rowspan="<%= order.items.length %>"><a href="/user/orderDetails/<%= order._id %>" class="btn btn-primary">Show Order Details</a></td>
                            <% } %>
                              <% }) %>
                      </tr>
                  <% }) %>
              </tbody>
          </table>
      </div>
      <%} %>
  </div>

  </section>

  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

<!-- Bootsrtap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>