<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alchemy</title>

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Stylesheet -->

    <link rel="stylesheet" href="css/product/landingPage.css">
    <link rel="stylesheet" href="css/product/footer.css">

    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
      .card__img {
        margin-top: 15px;
      }

      .button-group{
        display: flex;
        gap: 30px;
      }
      .button-group button{
        background: transparent;
        border: none;
      }
      .button-group i{
        font-size: 30px;
        color: white;
      }


      #myVideo {
        position: relative;
      width: 100%;
      height: 100%;
      }
      ::-webkit-scrollbar-track {
      background-color: #000000; /* Color of the scrollbar track */
      }
      ::-webkit-scrollbar {
          width: 10px; /* Width of the scrollbar */
      }
      ::-webkit-scrollbar-thumb {
          background-color: #494747; /* Color of the scrollbar thumb */
          border-radius: 6px; /* Rounded corners of the scrollbar thumb */
      }
      .video-div{
        position: absolute;
        top: 50%;
        left: 50%; /* Align to the right side */
        transform: translate(-50%,-50%); /* Center vertically */
        color: rgba(255, 255, 255, 0.796);
        
      }
      .video-div h2{
        font-weight: 600;
        font-size: 5rem;
      }
      .video-div p{
        font-size: 1.3rem;
        font-family: "Georgia", serif;
      }
      a{
      text-decoration: none;
      }
      .bx .bx-heart {
      color: rgb(206, 19, 19); /* Change color to red */
      }
      .bx .bxs-heart {
      color: rgb(206, 19, 19); /* Change color to red */
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232329;
      }
    </style>
</head>
<body>

    <div class="overlay">
      <span class="loader"></span>
    </div>

    <!-- <div class="background-1">

    </div> -->
    <%- include("../includes/navbarshop.ejs") %>

  <video autoplay muted loop id="myVideo">
    <source src="/video/jackDaniels.mp4" type="video/mp4">
  </video>

  <div class="video-div">
    <h2 style="text-align: center;">Alchemy</h2>
    <p>Explore our wide selection of premium spirits, wines, and beers.</p>
  </div>

    <div class="collection_choice">
      <!-- <div class="choice hidden">
            <img src="./images/product/choice-img.png" alt="image">
        </div> -->
      
        <div class="container">
          <div class="card__container">
            <% categories.forEach((category)=>{ %>

              <article class="card__article hidden">
                <div class="card__img">
                  <img src="<%= category.image %>" alt="image" >
                </div>
              
 
              <div class="card__data">
                  <!-- <span class="card__description">Vancouver Mountains, Canada</span> -->
                  <h2 class="card__title"><%= category.name %></h2>
                  <a href="/product-list/list?category=<%= category._id %>" class="card__button">Shop Now</a>
              </div>
            </article>

            <% }) %>
             

          </div>
       </div>
      
        
        
    </div>

    <div><h2 class="heading-2">New </br> <span>Arrival</span></h2></div>

    <div class="products_list">
      <% display_products.forEach((product)=>{ %>
        <div class="product__card hidden">
        <div class="product__image">
          <img src="<%= product.image[0] %>"/>
        </div>
        <div class="product__details">
          <div class="product__center">
            <h1><%= product.name %></h1>
            <p><%= product.category.name %></p>
            <p>$<%= product.price %></p>
            <div class="button-group">
              <% if(userName){ %>
              <button onclick="addToCart(`<%=product._id %>`)"><i class='bx bx-cart'></i></button>
              <button onclick="addToWishlist(`<%=product._id %>`,this)"><% if(wishlist.items.includes(product._id)){ %><i class='bx bxs-heart'></i> <% }else{ %><i class='bx bx-heart red'></i> <% } %></button>
            <% }else{ %>
              <a href="/user/login"><i class='bx bx-cart'></i></a>
              <a href="/user/login"><i class='bx bx-heart'></i></a>
              <% } %>
            <a href="/product-details/<%= product._id %>"><i class='bx bx-info-circle'></i></a> 
            </div>
            
          </div>
        </div>
      </div>
      <% }) %>

            <!-- TOAST MESSAGE FOR AddToWishlist BEGIN -->
      
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                
            <div class="toast-body d-flex justify-content-center align-items-center" style="background-color: rgb(255, 255, 255);  color: rgb(0, 0, 0);">
              <i class='bx bx-check'></i><p style="padding: 0; margin: 0;">Added To your Wishlist. </p>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        </div>
      
        <!-- TOAST MESSAGE FOR AddToWishlist END -->
      

    </div>

    <%- include("../includes/userfooter.ejs") %>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

    <!-- Bootsrtap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- My script -->

    <script>

      /* LOADER WHEN WINDOW LOADS BEGIN*/
      document.addEventListener("DOMContentLoaded", function() {
      let overlay = document.querySelector(".overlay");
      overlay.style.display = "flex"; 
        
      window.addEventListener("load", function() {
        overlay.style.display = "none"; 
      });
      });
      /* LOADER WHEN WINDOW LOADS END*/

          /* ADD TO CART BEGIN */

    function addToCart(id){
      fetch("/user/add_cart/"+id,{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        }
      })
      .then((response)=>{
        if(response.ok){
          Swal.fire({
            title: 'Product Added',
            text: 'Your product has been added to the cart.',
            icon: 'success',
            showCancelButton: true,
            cancelButtonText: 'Continue Browsing',
            showConfirmButton: true,
            confirmButtonText: 'Go to Cart',
            allowOutsideClick: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/user/cart';
                }
            });
          }else{
            return response.json();
          }
        })
        .then((data)=>{
          if(data.outOfStock){
            Swal.fire({
              title: "Out Of Stock",
              text: "The product is not in stock.",
              icon: "error"
            });
          }else if(data.maxQuantity){
            Swal.fire({
              title: "Quantity Limit!",
              text: "Max Quantity is 3 Bottles.",
              icon: "error"
            });
          }
          else{
            throw new Error("Something Happened")
          }
        })
      .catch((err)=>{
        console.log("Something Happened")
      })
      
    }

    /* ADD TO CART END */

    /* ADD TO WISHLIST BEGIN */

    function addToWishlist(id,btn){

fetch("/user/addWishlist/"+id,{
  method:"POST",
  headers:{
    "Content-Type":"application/json"
  }
})
.then((response)=>{
  if(!response.ok){
    throw new Error("Something Happened")
  }
    return response.json();
  })
  .then((data)=>{
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    let element = btn.getElementsByTagName('i');
    if(data.action){
      element[0].className = 'bx bxs-heart';
      document.querySelector(".toast-body p").innerHTML="Added To your Wishlist."
      toastBootstrap.show();
    }else{
      element[0].className = 'bx bx-heart red';
      document.querySelector(".toast-body p").innerHTML="Removed From your Wishlist."
      toastBootstrap.show();
    }
  })
.catch((err)=>{
  console.log("Something Happened")
})

}
/* ADD TO WISHLIST END */
      
    </script>

    <script src="js/product/landingPage.js"></script>

</body>
</html>