<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Stylesheet -->

    <link rel="stylesheet" href="css/product/landingPage.css">

    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
      .button-group{
        display: flex;
        gap: 30px;
      }
      .button-group button{
        background: transparent;
        border: none;
      }
      .button-group i{
        font-size: 30px;
        color: white;
      }
      #myVideo {
        position: relative;
      width: 100%;
      height: 100%;
      }
      ::-webkit-scrollbar-track {
    background-color: #000000; /* Color of the scrollbar track */
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #494747; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}
.video-div{
        position: absolute;
        top: 50%;
        left: 50%; /* Align to the right side */
        transform: translate(-50%,-50%); /* Center vertically */
        color: rgba(255, 255, 255, 0.796);
        
      }
      .video-div h2{
        font-weight: 600;
        font-size: 5rem;
      }
      .video-div p{
        font-size: 1.3rem;
        font-family: "Georgia", serif;
      }

    </style>
</head>
<body>


  <div class="overlay">
    <span class="loader"></span>
  </div>
    <!-- <div class="background-1">

      

    </div> -->
    <header class="header">

        <nav class="navbar">
          <a href="#">Home</a>
          <a href="#">Products</a>
        </nav>
        <div class="search-bar-container">
          <form action="#" class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit"><box-icon name='search'><i class='bx bx-search'></i></button>
        </form>
        <div class="right_navbar">
          <a href="#"><i class='bx bx-heart'></i></a>
          <a href="#"><i class='bx bx-cart'></i></a>
          <a href="#"><i class='bx bx-user'></i></a>
          <a href="/user/login" class="login_navbar">Login</a>
        </div>
        </div>
        
    </header>

    <video autoplay muted loop id="myVideo">
      <source src="/video/jackDaniels.mp4" type="video/mp4">
    </video>

    <div class="video-div">
      <h2 style="text-align: center;">Alchemy</h2>
      <p>Explore our wide selection of premium spirits, wines, and beers.</p>
    </div>

    <!-- <a href="">Shop Now</a> -->

  <div class="collection_choice">
    <!-- <div class="choice hidden">
          <img src="./images/product/choice-img.png" alt="image">
      </div> -->
    
      <div class="container">
        <div class="card__container">
          <% categories.forEach((category)=>{ %>

            <article class="card__article hidden">
              <div class="card__img">
                <img src="<%= category.image %>" alt="image" >
              </div>
            

            <div class="card__data">
                <!-- <span class="card__description">Vancouver Mountains, Canada</span> -->
                <h2 class="card__title"><%= category.name %></h2>
                <a href="#" class="card__button">Shop Now</a>
            </div>
          </article>

          <% }) %>
           

        </div>
     </div>
    
      
      
  </div>

  <div><h2 class="heading-2">New </br> <span>Arrival</span></h2></div>

  <div class="products_list">
    <% display_products.forEach((product)=>{ %>
      <div class="product__card hidden">
        <div class="product__image">
          <img src="<%= product.image[0] %>"/>
        </div>
        <div class="product__details">
          <div class="product__center">
            <h1><%= product.name %></h1>
            <p><%= product.category.name %></p>
            <p>$<%= product.price %></p>
            <div class="button-group">
             <button ><i class='bx bx-cart'></i></button>
            <button ><i class='bx bx-heart'></i></button>
            <a href="/product-details/<%= product._id %>"><i class='bx bx-info-circle'></i></a> 
            </div>
            
          </div>
        </div>
      </div>
    <% }) %>
    

  </div>
  
  <!-- Bootsrtap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- My script -->

  <script>

    /* LOADER WHEN WINDOW LOADS BEGIN*/
    document.addEventListener("DOMContentLoaded", function() {
    let overlay = document.querySelector(".overlay");
    overlay.style.display = "flex"; 
      
    window.addEventListener("load", function() {
      overlay.style.display = "none"; 
    });
    });
    /* LOADER WHEN WINDOW LOADS END*/
    
  </script>

  <script src="js/product/landingPage.js"></script>

</body>
</html>