<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/product/productlist/animate.css">
    
    <link rel="stylesheet" href="/css/product/productlist/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/product/productlist/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/product/productlist/magnific-popup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    
    <link rel="stylesheet" href="/css/product/productlist/flaticon.css">
    <link rel="stylesheet" href="/css/product/productlist/style.css">

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Boxicon-icons  -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
      
      ::-webkit-scrollbar-track {
      background-color: #000000; /* Color of the scrollbar track */
      }
      ::-webkit-scrollbar {
          width: 10px; /* Width of the scrollbar */
      }
      ::-webkit-scrollbar-thumb {
          background-color: #494747; /* Color of the scrollbar thumb */
          border-radius: 6px; /* Rounded corners of the scrollbar thumb */
      }

      body{
        background-color: black;
      }
      .categories{
        background-color: black;
      }
      .categories ul li a{
        color: white;
      }
      .desc p a i{
        font-size: 25px;
      }
      .meta-prod button {
        margin: 0 2px;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: none;
        cursor: pointer;
    }
    .meta-prod button i{
      color: #b7472a;
      font-size: 25px;
    }
    a{
      text-decoration: none;
    }
    .bx .bx-heart {
    color: rgb(206, 19, 19); /* Change color to red */
}
.toast-body i{
  font-size: 20px;
  color: black;
  background-color: green;
  border-radius: 50%;
}
.category-list{
  background-color: black;
  color: white;
}
.category-list li{
  border: none;
}
input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff;
          transition: background-color 5000s ease-in-out 0s;
          box-shadow: inset 0 0 20px 20px #23232329;
      }
    </style>
  </head>
  <body>

    <%- include('../includes/navbarshop.ejs') %>
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/product/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Products <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Products</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <% if(products.length>0) {%>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row mb-4">
							
						</div>
						<div class="row">
                      <% products.forEach((product)=> {%>
							<div class="col-md-4 d-flex">
								<div class="product ftco-animate">
									<div class="img d-flex align-items-center justify-content-center" style="background-image: url('<%= product.image[0] %>');">
										<div class="desc">
											<p class="meta-prod d-flex">
                        <% if(userName){ %>
												<button class="d-flex align-items-center justify-content-center" type="button" onclick="addToCart(`<%=product._id %>`)"><i class='bx bx-cart'></i></button>
												<button class="d-flex align-items-center justify-content-center" type="button" onclick="addToWishlist(`<%=product._id %>`,this)"><% if(wishlist.items.includes(product._id)){ %><i class='bx bxs-heart'></i> <% }else{ %><i class='bx bx-heart red'></i> <% } %></button>
                        <% }else{ %>
                          <a href="/user/login" class="d-flex align-items-center justify-content-center"><i class='bx bx-cart'></i></a>
                          <a href="/user/login" class="d-flex align-items-center justify-content-center"><i class='bx bx-heart red'></i></a>
                          <% } %>
												<a href="/product-details/<%=product._id %>" class="d-flex align-items-center justify-content-center"><i class='bx bx-info-circle'></i></a>
											</p>
										</div>
									</div>
									<div class="text text-center">
										<span class="sale">Sale</span>
										<span class="category"><%= product.category.name %></span>
										<h2 style="color: white;"><%= product.name %></h2>
                    <% if(product.stock<=0){ %>
										<p class="mb-0"><span class="price price-sale" > </span> <span class="price" style="color:rgb(255, 0, 0); font-weight: 600;">Out Of Stock</span></p>
                    <% }else{ %>
                      <% if(product.discountPrice!=product.price){ %>
										<p class="mb-0"><span class="price price-sale" >₹<%= product.price %> </span> <span class="price" style="color:white;"> ₹<%= product.discountPrice %> </span></p>
                    <% }else{ %>
                    <p class="mb-0"><span class="price price-sale" ></span> <span class="price" style="color:white;"> ₹<%= product.price %> </span></p>
                      <% } %>
                      <% } %>
									</div>
								</div>
							</div>
                      <% }) %>
							
						</div>
						<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                
                    <% if(currentPage!==1 && previousPage!=1){ %>
		                <li><a href="/product-list/<%= action %>?<% if (category && search) { %> category=<%= category %>&search=<%= search %>&<% }else if(category){ %>category=<%= category %>&<% }else if(search){ %>search=<%= search %>&<% } %>page=1 ">1</a></li>
                      <% } %>
                      <% if(hasPreviousPage){ %>
		                <li><a href="/product-list/<%= action %>?<% if (category && search) { %> category=<%= category %>&search=<%= search %>&<% }else if(category){ %>category=<%= category %>&<% }else if(search){ %>search=<%= search %>&<% } %>page=<%= previousPage %> "><%= previousPage %></a></li>
                      <% } %>
                    <li class="active"><a href="/product-list/<%= action %>?<% if (category && search) { %> category=<%= category %>&search=<%= search %>&<% }else if(category){ %>category=<%= category %>&<% }else if(search){ %>search=<%= search %>&<% } %>page=<%= currentPage %>"><%= currentPage %></a></li>
                    
		                <% if(hasNextPage){ %>
		                <li><a href="/product-list/<%= action %>?<% if (category && search) { %> category=<%= category %>&search=<%= search %>&<% }else if(category){ %>category=<%= category %>&<% }else if(search){ %>search=<%= search %>&<% } %>page=<%= nextPage %>"><%= nextPage %></a></li>
                      <% } %>
                    <% if(lastPage!==currentPage && nextPage!==lastPage){ %>
                      <li><a href="/product-list/<%= action %>?<% if (category && search) { %> category=<%= category %>&search=<%= search %>&<% }else if(category){ %>category=<%= category %>&<% }else if(search){ %>search=<%= search %>&<% } %>page=<%= lastPage %>"><%= lastPage %></a></li>
                      <% } %>
		              </ul>
		            </div>
		          </div>
		        </div>
					</div>
          
					<div class="col-md-3">
						<div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3 style="color: white;">Filter</h3>
                <ul class="p-0">
                  <p style="color: white;">CATEGORIES</p>

                  <div class="dropdown">
                    <button class="btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                      <% if (category) { %>
                        <%= categories.find(cat => cat._id.toString() === category.toString()).name %>
                    <% } else { %>
                        Select category
                    <% } %>
                    </button>
                    <ul class="dropdown-menu category-list">
                      <% categories.forEach(cat => { %>
                        <% if (cat._id.toString() === category) { %>
                            <li><span class="dropdown-item-text" style="color: grey;"><%= cat.name %></span></li>
                        <% } else { %>
                            <li><a class="dropdown-item" href="/product-list/list?category=<%= cat._id %><% if(search){ %>&search=<%= search %><% } %>"><%= cat.name %></a></li>
                        <% } %>
                    <% }) %>
                    </ul>
                  </div>

                	<li><a href="/product-list/lowToHigh<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>" >Price:low to high <span class="fa fa-chevron-right"></span></a></li>
	                <li><a href="/product-list/highToLow<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>">Price:high to low <span class="fa fa-chevron-right"></span></a></li>
	                <li><a href="/product-list/newArrivals<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>">New Arrivals <span class="fa fa-chevron-right"></span></a></li>
	                <li><a href="/product-list/aA-Zz<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>">aA-Zz <span class="fa fa-chevron-right"></span></a></li>
	                <li><a href="/product-list/Zz-aA<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>">Zz-aA <span class="fa fa-chevron-right"></span></a></li>
	                <li><a href="/product-list/stock<% if (category || search) { %>?<% } %><% if (category) { %>category=<%= category %><% } %><% if (category && search) { %>&<% } %><% if (search) { %>search=<%= search %><% } %>">Stock<span class="fa fa-chevron-right"></span></a></li>
                </ul>
              </div>
            </div>
					</div>
				</div>
			</div>
      
      <!-- TOAST MESSAGE FOR AddToWishlist BEGIN -->
      
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          
      <div class="toast-body d-flex justify-content-center align-items-center" style="background-color: rgb(255, 255, 255);  color: rgb(0, 0, 0);">
        <i class='bx bx-check'></i><p style="padding: 0; margin: 0;">Added To your Wishlist. </p>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <!-- TOAST MESSAGE FOR AddToWishlist END -->
  
  <% }else{ %>
  <h2 style="text-align: center; color: white;">NO PRODUCTS</h2>
  <% } %>
</section>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  
  
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
  <script src="/js/product/productlist/jquery.min.js"></script>
  <script src="/js/product/productlist/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/product/productlist/popper.min.js"></script>
  <script src="/js/product/productlist/bootstrap.min.js"></script>
  <script src="/js/product/productlist/jquery.easing.1.3.js"></script>
  <script src="/js/product/productlist/jquery.waypoints.min.js"></script>
  <script src="/js/product/productlist/jquery.stellar.min.js"></script>
  <script src="/js/product/productlist/owl.carousel.min.js"></script>
  <script src="/js/product/productlist/jquery.magnific-popup.min.js"></script>
  <script src="/js/product/productlist/jquery.animateNumber.min.js"></script>
  <script src="/js/product/productlist/scrollax.min.js"></script>
<!--   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
<!--   <script src="/js/product/productlist/google-map.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="/js/product/productlist/main.js"></script>

  <!-- Bootsrtap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
  <script>

    /* ADD TO CART BEGIN */

    function addToCart(id){
      fetch("/user/add_cart/"+id,{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        }
      })
      .then((response)=>{
        if(response.ok){
          Swal.fire({
            title: 'Product Added',
            text: 'Your product has been added to the cart.',
            icon: 'success',
            showCancelButton: true,
            cancelButtonText: 'Continue Browsing',
            showConfirmButton: true,
            confirmButtonText: 'Go to Cart',
            allowOutsideClick: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/user/cart';
                }
            });
          }else{
            return response.json();
          }
        })
        .then((data)=>{
          if(data.outOfStock){
            Swal.fire({
              title: "Out Of Stock",
              text: "The product is not in stock.",
              icon: "error"
            });
          }else if(data.maxQuantity){
            Swal.fire({
              title: "Quantity Limit Reached",
              text: "Maximum quantity Reached for this product.",
              icon: "error"
            });
          }else{
            throw new Error("Something Happened")
          }
        })
      .catch((err)=>{
        console.log(err.message)
      })
      
    }

    /* ADD TO CART END */

    /* ADD TO WISHLIST BEGIN */

    function addToWishlist(id,btn){

      fetch("/user/addWishlist/"+id,{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        }
      })
      .then((response)=>{
        if(!response.ok){
          throw new Error("Something Happened")
        }
          return response.json();
        })
        .then((data)=>{
          const toastLiveExample = document.getElementById('liveToast')
          const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
          let element = btn.getElementsByTagName('i');
          if(data.action){
            element[0].className = 'bx bxs-heart';
            document.querySelector(".toast-body p").innerHTML="Added To your Wishlist."
            toastBootstrap.show();
          }else{
            element[0].className = 'bx bx-heart red';
            document.querySelector(".toast-body p").innerHTML="Removed From your Wishlist."
            toastBootstrap.show();
          }
        })
      .catch((err)=>{
        console.log("Something Happened")
      })

    }
    /* ADD TO WISHLIST END */
  </script>
  </body>
</html>